on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6

      # The Node.js action is required to use npm.
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      # We need to build the SvelteKit site since `svelte-package` relies on `.svelte-kit`
      - name: Build demo
        run: bun run build

      - name: Build package
        run: bun run package

      - name: Prune package
        run: bunx culls --preserve=svelte

      - name: Publish package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

        # Currently, only npm supports publishing packages with provenance
        # https://docs.npmjs.com/generating-provenance-statements
        run: npm publish --provenance --access public
